body, html{
  padding: 0;
  margin: 0;
  font-family: futura;
  min-width: 500px;
  height: 100%;
  width: 100%;
  background-color: #ececec;

}
#url{
    background-color: #ececec;
}
span{
  color: #369dbd;
}
nav{
  background-color: #369bdb;
}
#top p{
  margin: 0;
  padding:15px;
}
#list .special{
  text-align: right;
}
#list .person{
  font-weight: bold;
  display: inline-block;
}
ul{
  margin: 0;
  padding-left: 0;
  text-align: center;
}
nav img{
  width: 150px;
}
nav li{
  display: inline-block;
  padding: 1% 5% 1% 5%;
}
nav li:nth-child(n+2){
  position: relative;
  bottom:25px;
}
a{
  text-decoration: none;
  color: white;
}
#top{
  text-align: center;
  height: 70%;
  width: 100%;
}
#meat{
  min-width: 1000px;
  height: 100%;
  width: 70%;
  margin: 0 auto;
}

#vid{
  width: 70%;
  height: 100%;
  overflow: auto;
}


#messagecontainer{
  background-color: white;
  width: 30%;
  height: 80%;
  float: right;
}
#messagecontainer li{
  list-style-type: none;
  text-align: left;
  font-family: Arial;
 padding: 10px;
}
#messagecontainer ul{
  height: 89%;
  overflow: scroll;
}
#whitespace li{
  background-color: white;
  text-align: left;
}
#button{
  padding-bottom: 12px;
}
#start{
  border: none;
  background-color: #ececec;
  font-size: 24px;
  color: #369dbd;
}
#pause{
  border: none;
  background-color: #ececec;
  font-size: 24px;
  color: #369dbd;
}

#chatmessage{
  width: 65%;
  height: 30px;
  font-size: 19px;
  border: 1px solid #369dbd;
  padding: 5px;
}
#submitmessage{
  width: 26%;
  padding: 5px;
  background-color: #ececec;
  height: 40px;
  border: none;
  padding-bottom: 20px;
  font-size: 22px;
  background-color: #c94141;
  color: white;
}

footer{
    background-color: #ececec;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
footer li{
  display: inline-block;
  padding: 2% 3% 2% 3%;
}
footer li a{
  color: #369dbd;
}

#card{
   width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  background-color: #ececec;
  position: relative;
  top:200px;
}
#card h1{
  color: #369dbd;
}
#card p{
  font-size: 12px;
}
#name{
  border: none;
  font-size: 19px;
  padding: 5px;
}
#submitname{
  border: none;
  background-color: #d24b4b;
  font-size: 19px;
  padding:4px;
}